{
    "players": [{
        "name": "cup",
        "link": "MjkwODAtMTM2OTQxNTc0NzYxOTU0OTg5NQ==",
        "uid": "29080-1369415747619549895"
    },
    {
        "name": "mooey",
        "link": "MjkwODAtODMxNjQ2MzU1NTMzMTIxMzk4Nw==",
        "uid": "29080-8316463555331213987"
    },
    {
        "name": "ashan",
        "link": "MjkwODAtMTU3NzcwODY1MTE3OTgzNTczNzY=",
        "uid": "29080-15777086511798357376"
    }]
}